<div class="container">
  <h1>Thanks for your order!</h1>
  <h3>Order ID: <%= @order.id %>
  <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
  <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
  <h3>Total: <%= number_to_currency(@order.total) %></h3>
  <br><br>
  <% @order.carted_products.each do |carted_product| %>
    <h4>Product name: <%= carted_product.product.name %></h4>
    <h4>Quantity: <%= carted_product.quantity %></h4>
  <% end %>
</div>


