<div class="container">
<!--   <h3>Order Id: <%= @order.id%></h3>
  <h3>Quantity: <%= @order.quantity %></h3>
  <h3>Subtotal: <%= @order.subtotal %>
  <h3>Tax: <%= @order.tax %></h3>
  <h3>Total: <%= @order.total %> -->
  <h3>Subtotal: <%= @order.subtotal %></h3>
  <h3>Tax: <%= @order.tax %></h3>
  <h3>Total: <%= @order.total %></h3>
  <h3>Quantity: <%= @order.quantity %></h3>
  <div>
  <br>
    <a href="/products" class="btn btn-info" role="button">Click here to buy more!</a>
  </div>
</div>


