<div class="container">
  <h1>Checkout Page</h1>

  <% @carted_products.each do |carted_product| %>
    <h2><%= carted_product.product.name %></h2>
    <h2>Quantity: <%= carted_product.quantity %></h2>
    <%= link_to "Remove", "/carted_products/#{carted_product.id}", method: :delete %>
  <% end %>
  <br><br>

  <%= form_tag "/orders", method: :post do %>
    <div>
      <%= submit_tag "Buy Now!" %>
    </div>
  <% end %>
</div>

