<div class="container">
  <div class="header-row">
    <h1>All Products for Sale!</h1>
  </div>
    <% @products.each do |product| %>
    <ul>
      <li class="products">
        <h3><%= link_to product.name, "/products/#{product.id}" %></h3>
        <h4>Price: <%= product.price %></h4>
        <br>
        <img src=<%= product.image %>>
        <br>
        <h4><%= product.description %></h4>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/products/<%= product.id %>" role="button">Click for more info</a></p>
        <br>
      </li>
    </ul>
    <% end %>
</div>





