<div class="container">
  <div class="header-row">
    <h1>All Phones for Sale!</h1>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <h3><%= link_to product.name, "/products/#{product.id}" %></h3>
        <h4>Price: $<%= product.price %></h4>
        <%# image_tag product.product_images.first.image_url, width: 250, height: 250 %>
        <%= image_tag product.product_images.first, width: 250, height: 250 %>
        <h4><%= product.description %></h4>
        <p><a class="btn btn-primary btn-lg" href="/products/<%= product.id %>" role="button">Click for more info</a></p>
        <br><br>
      </div>
    <% end %>
  </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">Site built by Khoa Le</p>
  </div>
</div>





