<div class="container">
  <h1>Individual Product Info</h1>
    <h3><%= @product.name %></h3>
    <h4>Updated on: <%= @product.friendly_updated_at %>
    <h4>Price: <%= @product.price %></h4>
    <%= image_tag @product.image, width: 250, height: 250%>
    <br>
    <h4><%= @product.description %></h4>
    <h3>Sale Message: <%= @product.sale_message %>
    <h5>Tax: <%= number_to_currency(@product.tax) %>
    <h5>Total Price: <%= number_to_currency(@product.total) %>
    <br>
    <br>

  <div>
    <a href="/products/<%= @product.id %>/edit" class="btn btn-info" role="button">Edit</a>
    <a rel="nofollow" data-method="delete" href="/products/<%= @product.id %>", class="btn btn-info" role="button">Delete</a>
  </div>
</div>    

