<div class="container">
  <h1>Single Product Info</h1>
    <h3><%= @product.name %></h3>
    <h4>Updated on: <%= @product.friendly_updated_at %>
    <h4>Price: $<%= @product.price %></h4>
    <h4>Phone Supplier: </h4>
    <% @product.product_images.each do |image| %>
        <%= image_tag image.image_url, width: 400, height: 400 %>
    <% end %>

    <br>
    <h4><%= @product.description %></h4>
    <h3>Sale Message: <%= @product.sale_message %>
    <h5>Tax: <%= number_to_currency(@product.tax) %>
    <h5>Total Price: <%= number_to_currency(@product.total) %> 

    <section>
      <%= form_tag '/orders', method: :post do  %>
          <div>
            <h4>
              <%= label_tag :quantity %>
              <%= text_field_tag :quantity %>
            </h4>
          </div>
          <%= label_tag :product_id, "Product Id" %>
          <%= text_field_tag :product_id, @product.id %>
          <div>
            <h4>
              <%= submit_tag "Buy Now!" %>
            </h4>
          </div>
      <% end %>
    </section>


  <div>
    <a href="/products/<%= @product.id %>/edit" class="btn btn-info" role="button">Edit</a>
    <a rel="nofollow" data-method="delete" href="/products/<%= @product.id %>", class="btn btn-info" role="button">Delete</a>
  </div>
</div>    

