<div class="container">
  <h1>Individual Product Info</h1>
  <div id="products">
    <h3><%= @product.name %></h3>
    <h4>Price: <%= @product.price %></h4>
    <br>
    <img src=<%= @product.image %>>
    <br>
    <h4><%= @product.description %></h4>
    <br>
  </div>

  <div>
    <a href="/products/<%= @product.id %>/edit" class="btn btn-info" role="button">Edit</a>
    <a rel="nofollow" data-method="delete" href="/products/<%= @product.id %>", class="btn btn-info" role="button">Delete</a>
  </div>
</div>    

