<!DOCTYPE html>
<html>
<head>
  <title>Mini Capstone App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Phone Store</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/products">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/products/new">Add New Product</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More Features <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><a href="/products?sort=price&sort_order=asc">Sort By Price(Low to High)</a></li>
            <li class="divider"></li>
            <li><a href="/products?sort=price&sort_order=desc">Sort By Price(High to Low)</a></li>
            <li class="divider"></li>
            <li><a href="/products?discount=true">Discount Items less than $2</a></li>
            <li class="divider"></li>
            <li><a href="/products/random">Click For A Random Product</a></li>
            <li class="divider"></li>
            <% Category.all.each do |category| %>
            <li><a href="/products?category=<%= category.name %>"><%= category.name %></a></li>
            <% end %>          
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        
        <%= form_tag "/search", method: :post, class: "navbar-form navbar-right", role: "search" do %>
        <div class="form-group">
         <%= label_tag :search %>
         <%= text_field_tag :search, '', class: "form_control" %>
        </div>
          <%= submit_tag "Search", class: "btn btn-default", type: "submit" %>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", "/users/sign_in" unless current_user %></li>
        <li><%= link_to "Sign Up", "/users/sign_up" unless current_user %></li>
        <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% flash.each do |name, message|%>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  <% end %>
</div>
<%= yield %>


</body>
</html>
